<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <script src="{% static 'js/port.js' %}"></script>
    <title>Matthew Holmes</title>
  </head>
  <body>
    <div id="nav">
      <!-- <div id="face">
        <br />
        <span>--------------------</span>
      </div> -->
      <div id="logo">
        <a href=""
          ><img
            style="max-width: 6em; height: auto"
            id="logo-img"
            src="{% static 'img/transparent-logo.PNG' %}"
            alt=""
          />
          <div id="eye-container">
            <div id="left-eye" class="eye"><div class="pupil"></div></div>
            <div id="right-eye" class="eye"><div class="pupil"></div></div>
          </div>
        </a>
      </div>

      <div id="links">
        <a href="">Projects</a>
        <a href="">Contact me</a>
      </div>
    </div>
    <br />
    <div id="page-one">
      <div id="about">
        <div id="logo-div">
          <img
            style="display: inline-flex"
            src="http://placekitten.com/200/300"
            alt="A cat from
        placekitten"
          />
        </div>
        <h2>About me</h2>
        <span>img</span>

        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem
          repellendus cumque unde impedit quo aspernatur dolorum dolorem nam
          illum, aut, qui et, inventore eos provident. Laudantium quaerat
          commodi odit. Aspernatur.
        </p>
      </div>

      <div id="scroll-button">
        <!-- <button id="btn">page 2</button> -->
      </div>
    </div>
    <!-- <div class="content"> -->
    <!-- </div> -->

    <div id="page-two">
      <h2>page2</h2>
    </div>
  </body>
</html>
